@import "tailwindcss";

@theme {
    /* PAGE BACKGROUND */
    --color-iron-950: oklch(0.12 0.01 240);

    /* COMPONENT BACKGROUNDS */
    --color-iron-900: oklch(0.18 0.01 240);
    --color-iron-800: oklch(0.28 0.01 240);
    --color-iron-700: oklch(0.36 0.01 240);

    /* ACCENTS */
    --color-forge-400: oklch(0.9 0.22 45);
    --color-forge-500: oklch(0.8 0.22 45);
    --color-forge-600: oklch(0.7 0.22 45);
    --color-forge-900: oklch(0.6 0.22 45);
    --color-forge-glow: oklch(0.7 0.22 45 / 0.15);

    /* STATUS */
    --color-green: oklch(0.7 0.2 150);
    --color-red: oklch(0.7 0.2 25);

    /* SHADOWS & GLOWS */
    --shadow-success: 0 0 8px color-mix(in srgb, var(--color-green), transparent 40%);
    --shadow-success-strong: 0 0 8px color-mix(in srgb, var(--color-green), transparent 20%);
    --shadow-error: 0 0 8px color-mix(in srgb, var(--color-red), transparent 40%);

    --shadow-forge-sm: 0 0 10px color-mix(in srgb, var(--color-forge-600), transparent 80%);
    --shadow-forge-md: 0 0 20px color-mix(in srgb, var(--color-forge-600), transparent 70%);
    --shadow-forge-lg: 0 0 30px color-mix(in srgb, var(--color-forge-600), transparent 60%);

    /* PATTERNS */
    --color-hazard-stripe: color-mix(in srgb, var(--color-forge-500), transparent 90%);

    /* FONTS */
    --font-display: "Chakra Petch", sans-serif;
    --font-mono: "JetBrains Mono", monospace;
    --font-sans: "Inter", sans-serif;
}

html,
body,
#root {
    background-color: var(--color-iron-950);
    color: #e2e8f0;
    min-height: 100vh;
    font-family: var(--font-sans);

    /* ===== Scrollbar CSS ===== */
    * {
        --sb-track-color: var(--color-iron-900);
        --sb-thumb-color: var(--color-forge-600);
        --sb-size: 12px;
    }

    *::-webkit-scrollbar {
        width: var(--sb-size);
    }

    *::-webkit-scrollbar-track {
        background: var(--sb-track-color);
        border-radius: var(--sb-size);
    }

    *::-webkit-scrollbar-thumb {
        background: var(--sb-thumb-color);
        border-radius: var(--sb-size);
    }

    @supports not selector(::-webkit-scrollbar) {
        * {
            scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
        }
    }
}

.test {
    /* PAGE BACKGROUND */
    --color-iron-950: oklch(0.1 0.01 240);

    /* COMPONENT BACKGROUNDS */
    --color-iron-900: oklch(0.16 0.01 240);
    --color-iron-800: oklch(0.24 0.01 240);
    --color-iron-700: oklch(0.32 0.01 240);

    /* ACCENTS */
    --color-forge-400: oklch(0.9 0.22 45);
    --color-forge-500: oklch(0.8 0.22 45);
    --color-forge-600: oklch(0.7 0.22 45);
    --color-forge-900: oklch(0.6 0.22 45);
    --color-forge-glow: oklch(0.7 0.22 45 / 0.15);

    /* STATUS */
    --color-green: oklch(0.7 0.2 150);
    --color-red: oklch(0.7 0.2 25);
}
